.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 200px;
  left: 0;
  right: 0;
}

.row {
  display: flex;
}

.cell {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #85a87d;
  cursor: pointer;
}
.oPlayer {
  color: rgb(177, 34, 34);
  font-size: 24px;
  font-weight: bold;
}
.xPlayer {
  color: rgb(27, 93, 159);
  font-size: 24px;
  font-weight: bold;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over h2 {
  font-size: 24px;
}

.developerSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px; /* Adjust the value as needed */
  left: 50%;
  transform: translateX(-50%);
}
