.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.row {
  display: flex;
}

.cell {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  border: 1px solid #85a87d;
  cursor: pointer;
}
.oPlayer {
  color: rgb(177, 34, 34);
  font-size: 36px;
  font-weight: bold;
}
.xPlayer {
  color: rgb(27, 93, 159);
  font-size: 36px;
  font-weight: bold;
}

.game-over {
  text-align: center;
  margin-top: 32px;
}

.game-over h2 {
  font-size: 24px;
  margin-bottom: 16px;
}
